body {
    font-family: helvetica;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
  }
 .time-line {
   background-color: aquamarine;
   width: 100%;
 } 
  ul {
    font-family: monospace;
  }

li {
  list-style: none
}

#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}